:root {
  --baseSize: 14px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(var(--baseSize) * 5);
  padding: 50px;
  text-align: center;
}

.title--accesskey-mode {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: indigo;
  text-underline-position: below;
}

.title--accesskey-mode::after {
  color: indigo;
  content: "ak: 0";
  font-size: calc(var(--baseSize) * 2);
  text-decoration: none;
}